<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">Event Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav w-100">
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/events']">Events </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/archived']">Archived Events</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/shared']">Shared Events <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{username}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </li>
            <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li> -->

        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
    </div>
</nav>
<div class="container all_events">
    <table class="table">
        <thead>
            <tr>
                
                <th scope="col">Event Name</th>
                <th scope="col">Shared With </th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor ="let event of sharedEvents">
                <td>{{event.event_name}}</td>
                <td>{{event.user_name}}</td>
                <td><button class="btn btn-sm btn-danger" (click)="revoke(event)">Revoke</button></td>
            </tr>
        </tbody>
    </table>

</div>